<mat-card class="tabClass"
  (click)="openWindow('https://www.akshayapatra.org/covid-relief-services?gclid=CjwKCAjw7J6EBhBDEiwA5UUM2qQKSnDDm2xAYSLYYPMp-M8e1kRACwKsZ2VV1ljjmZKQFFeXOd-JdhoCU7IQAvD_BwE')">
  <h2> Akshay Patra</h2>
  <div style="    width: fit-content;
          margin-left: auto;
          margin-right: auto;">
    <picture>
      <source media='(min-width:0px)'
        srcset="https://i.pinimg.com/280x280_RS/16/21/ed/1621ed43a31a86faaa654d3ae1e7b16a.jpg">
      <img mat-card-image src="" alt="World Health Organization: Covid19 page">
    </picture>

  </div>

</mat-card>
<mat-card class="tabClass" (click)="openWindow('https://donate.indiacovidresources.in/#Home')">
  <h2>India Covid Resources</h2>
  <div style="    width: fit-content;
          margin-left: auto;
          margin-right: auto;">
    <picture>
      <source media='(min-width:0px)'
        srcset="https://assets.website-files.com/6083413c0067e35e8da3928e/6085088e695f4a6b7c557f8d_Header%20Image.png">
      <img style="width: 80px; padding-left: 10px; padding-right: 10px" mat-card-image src=""
        alt="India Covid Resources">
    </picture>

  </div>

</mat-card>
<mat-card class="tabClass" (click)="openWindow('https://aidindia.org/donate/covid-relief-fund/')">
  <h2>AID India</h2>
  <div style="    width: fit-content;
          margin-left: auto;
          margin-right: auto;">
    <picture>
      <source media='(min-width:0px)' srcset="https://upload.wikimedia.org/wikipedia/commons/0/0f/Aid_logo.jpg">
      <img style="width: 80px; padding-left: 10px; padding-right: 10px" mat-card-image src="" alt="AID India">
    </picture>

  </div>

</mat-card>
<mat-card class="tabClass" (click)="openWindow('https://www.ketto.org/fundraiser/FeedingfromfarForCorona')">
  <h2>Feeding From Far</h2>
  <h4>Accepts International Payments</h4>
  <div style="    width: fit-content;
          margin-left: auto;
          margin-right: auto;">
    <picture>
      <source media='(min-width:0px)'
        srcset="https://assets.website-files.com/6083413c0067e35e8da3928e/60849bd12af0fc20546320c7_5f2380987766e.jpeg">
      <img style="width: 80px; padding-left: 10px; padding-right: 10px" mat-card-image src="" alt="Feeding From Far">
    </picture>

  </div>

</mat-card>
<mat-card class="tabClass" (click)="openWindow('https://goonj.org/support-covid-19-affected/')">
  <h2>Goonj</h2>
  <h4>Accepts International Payments</h4>
  <div style="    width: fit-content;
          margin-left: auto;
          margin-right: auto;">
    <picture>
      <source media='(min-width:0px)'
        srcset="https://assets.website-files.com/6083413c0067e35e8da3928e/6085353e081981f9edca35d4_Goonj%20Logo-min.png">
      <img style="width: 80px; padding-left: 10px; padding-right: 10px" mat-card-image src="" alt="Goonj">
    </picture>

  </div>

</mat-card>
<mat-card class="tabClass"
  (click)="openWindow('https://www.feedingindia.org/donate/help-save-my-india?review_id=oxygen')">
  <h2>Zomato Feeding India</h2>
  <h4>Accepts International Payments</h4>
  <div style="    width: fit-content;
          margin-left: auto;
          margin-right: auto;">
    <picture>
      <source media='(min-width:0px)'
        srcset="https://assets.website-files.com/6083413c0067e35e8da3928e/6085353d04127f97e46a270b_Zomato%20Feeding%20India%20Image-min.png">
      <img style="height: 50px !important; padding-left: 10px; padding-right: 10px" mat-card-image src=""
        alt="Zomato Feeding India">
    </picture>

  </div>

</mat-card>
