<mat-card class="tabClass">
        <div style="    width: fit-content;
          margin-left: auto;
          margin-right: auto;">
          <picture>
            <source media='(min-width:0px)'
              srcset="https://i.pinimg.com/280x280_RS/16/21/ed/1621ed43a31a86faaa654d3ae1e7b16a.jpg">
            <img (click)="openWindow('https://www.akshayapatra.org/covid-relief-services?gclid=CjwKCAjw7J6EBhBDEiwA5UUM2qQKSnDDm2xAYSLYYPMp-M8e1kRACwKsZ2VV1ljjmZKQFFeXOd-JdhoCU7IQAvD_BwE')"  mat-card-image src=""
              alt="World Health Organization: Covid19 page">
          </picture>
      
        </div>
        <h3> Akshay Patra</h3>
      </mat-card>
      <mat-card class="tabClass">
        <div style="    width: fit-content;
          margin-left: auto;
          margin-right: auto;">
          <picture>
            <source media='(min-width:0px)'
              srcset="https://assets.website-files.com/6083413c0067e35e8da3928e/6085088e695f4a6b7c557f8d_Header%20Image.png">
            <img (click)="openWindow('https://donate.indiacovidresources.in/#Home')" style="width: 80px; padding-left: 10px; padding-right: 10px" mat-card-image src=""
              alt="World Health Organization: Covid19 page">
          </picture>
      
        </div>
        <h3>India Covid Resources</h3>
      </mat-card>
      <mat-card class="tabClass">
        <div style="    width: fit-content;
          margin-left: auto;
          margin-right: auto;">
          <picture>
            <source media='(min-width:0px)'
              srcset="https://upload.wikimedia.org/wikipedia/commons/0/0f/Aid_logo.jpg">
            <img (click)="openWindow('https://aidindia.org/donate/covid-relief-fund/')" style="width: 80px; padding-left: 10px; padding-right: 10px" mat-card-image src=""
              alt="World Health Organization: Covid19 page">
          </picture>
      
        </div>
        <h3>India Covid Resources</h3>
      </mat-card>
      