@media only screen and (max-width: 600px) {
  .tabClass {
    width: 90%;
  }
}

@media only screen and (min-width: 600px) {
  .tabClass {
    width: fit-content !important;
    min-height: 190px !important;
    min-width: 190px !important;
    float: left;
    margin-right: 10px;
    cursor: pointer;
  }

  
}


img {
  width: auto !important;
  padding-left: 10px;
  padding-right: 10px;
  height: 80px
}

picture {
  cursor: pointer;
}

h2 {
    text-align: center;
  font-weight: bold;
}
h4 {
    text-align: center;
    color: #1DA1F2;
}
