
<mat-card class="tabClass" (click)="openWindow('https://www.who.int/emergencies/diseases/novel-coronavirus-2019')">
  <h3> WHO COVID-19 Page</h3>
  <div style="    width: fit-content;
    margin-left: auto;
    margin-right: auto;">
   
    <picture>
      <source media='(min-width:0px)'
        srcset="https://www.who.int/images/default-source/infographics/who-emblem.png?sfvrsn=877bb56a_2">
      <img   mat-card-image src=""
        alt="World Health Organization: Covid19 page">
    </picture>

  </div>
  
</mat-card>
<mat-card class="tabClass" (click)="openWindow('https://www.cdc.gov/coronavirus/2019-ncov/communication/print-resources.html?Sort=Date%3A%3Adesc')">
  <h3> CDC COVID-19 Page</h3>
  <div style="    width: fit-content;
    margin-left: auto;
    margin-right: auto;">
   
    <picture>
      <source media='(min-width:0px)'
        srcset="https://upload.wikimedia.org/wikipedia/commons/7/71/US_CDC_logo.svg">
      <img  style="width: 80px; padding-left: 10px; padding-right: 10px" mat-card-image src=""
        alt="CDC: Covid19 page">
    </picture>

  </div>
  
</mat-card>
<mat-card class="tabClass" (click)="openWindow('https://phfi.org/covid19/covid-resources/')">
  <h3>Public Health Foundation of India</h3>
 <div style="    width: fit-content;
    margin-left: auto;
    margin-right: auto;">
    
    <picture>
      <source media='(min-width:0px)'
        srcset="https://img.collegedekhocdn.com/media/img/institute/logo/PHFI_logos1.jpg">
      <img  style="width: 80px; padding-left: 10px; padding-right: 10px" mat-card-image src=""
        alt="Public Health Foundation of India">
    </picture>

  </div>
 
</mat-card>
<mat-card class="tabClass" (click)="openWindow('https://www.thebetterindia.com/covid10-updates-and-resources/')">
  <h3>The better India</h3>
  <div style="    width: fit-content;
    margin-left: auto;
    margin-right: auto;">
   
    <picture>
      <source media='(min-width:0px)'
        srcset="https://s3-ap-south-1.amazonaws.com/thebetterindia-english/uploads/2020/07/03121109/tbi-logo.png">
      <img  style="width: 100px; padding-left: 10px; padding-right: 10px" mat-card-image src=""
        alt="Public Health Foundation of India">
    </picture>

  </div>
 
</mat-card>
<mat-card class="tabClass" (click)="openWindow('http://friends2support.org/index.aspx')">
  <h3>Blood Plasma Donor Search</h3>
  <div style="    width: fit-content;
    margin-left: auto;
    margin-right: auto;">
    
    <picture>
      <source media='(min-width:0px)'
        srcset="http://friends2support.org/imgs/main_logo.gif">
      <img  style="width: 100px; height: 30px; padding-left: 10px; padding-right: 10px; padding-top: 30px" mat-card-image src=""
        alt="Public Health Foundation of India">
    </picture>

  </div>
 
</mat-card>

<mat-card class="tabClass"  >
  <div style="    width: fit-content;
    margin-left: auto;
    margin-right: auto;">
     <h3>List of resources in Bangalore (Scroll through)</h3>
   <iframe  src="https://drive.google.com/embeddedfolderview?id=1uQU8szQt26BBwfFIDc_mfpWwt1RKMXeE" style="width:100%; height: 100px; border:0;"></iframe>

  </div>
</mat-card>