<mat-card class="tabClass">
  <div style="    width: fit-content;
    margin-left: auto;
    margin-right: auto;">
    <picture>
      <source media='(min-width:0px)'
        srcset="https://www.who.int/images/default-source/infographics/who-emblem.png?sfvrsn=877bb56a_2">
      <img (click)="whoCovid()"  mat-card-image src=""
        alt="World Health Organization: Covid19 page">
    </picture>

  </div>
  <h3> WHO COVID-19 Page</h3>
</mat-card>
<mat-card class="tabClass">
  <div style="    width: fit-content;
    margin-left: auto;
    margin-right: auto;">
    <picture>
      <source media='(min-width:0px)'
        srcset="https://upload.wikimedia.org/wikipedia/commons/7/71/US_CDC_logo.svg">
      <img (click)="cdcCovid()" style="width: 80px; padding-left: 10px; padding-right: 10px" mat-card-image src=""
        alt="World Health Organization: Covid19 page">
    </picture>

  </div>
  <h3> CDC COVID-19 Page</h3>
</mat-card>
