<div>
  <mat-card style="background: #1DA1F2 !important">
    <mat-toolbar style="background: #1DA1F2; color: white">
      <mat-toolbar-row>
        <span style="cursor: default;" *ngIf="!isSmallScreen"><i class="fa fa-heartbeat" aria-hidden="true"></i> Covid:
          Twitter Search</span>
        <span *ngIf="isSmallScreen" style="font-size: 20px"><i class="fa fa-heartbeat" aria-hidden="true"></i> Covid:
          Twitter Search</span>
        <div class="row" style="padding-left: 30px" *ngIf="!isSmallScreen">
          <button id="search" (click)="goToSearch()" style="border-bottom: 3px solid white;" mat-button><i class="fab fa-twitter"></i> Search Twitter</button>
          <button id="resources" (click)="goToResources()" mat-button><i class="fa fa-medkit" aria-hidden="true"></i>
            Covid 19
            Resources</button>
          <button id="donation" (click)="goToDonation()" mat-button><i class="fa fa-gift" aria-hidden="true"></i> Donate
            for Covid
            Causes</button>
        </div>
        <div *ngIf="isSmallScreen" style="margin-left: auto; margin-right: 0;">
          <button mat-button [matMenuTriggerFor]="menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
          <mat-menu #menu="matMenu">
            <button (click)="goToSearch()" mat-button><i class="fab fa-twitter"></i> Search Twitter</button>
            <button (click)="goToResources()" mat-button><i class="fa fa-medkit" aria-hidden="true"></i> Covid 19
              Resources</button>
            <button (click)="goToDonation()" mat-button><i class="fa fa-gift" aria-hidden="true"></i> Donate for Covid
              Causes</button>
          </mat-menu>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>
</div>

    <div class="container" *ngIf="!isSmallScreen" style="  background: white; color:#1DA1F2; font-weight: bold; margin-top: 10px">
        <div class="scrolling-text" [@scroll]="state" (@scroll.done)="scrollDone()">                     For any ideas on new features or any issues that you observe, please reach out to me at me@tejasjaggi.com . Stay Home, Stay Safe!                      </div>
      </div>






<router-outlet></router-outlet>


<div *ngIf="!isSmallScreen" class="footer">
  <mat-card class="footer">
      <div style="width: fit-content; margin-left: auto; margin-right: auto;">
          Made with <i class="fa fa-heartbeat" aria-hidden="true"></i> by <a style="cursor: pointer; color: white" (click)="jagmeister()">Jagmeister</a> .
      </div>
  </mat-card>
</div>

<mat-card *ngIf="isSmallScreen" style="background-color: #1DA1F2;
color: white;">
<div style="width: fit-content; margin-left: auto; margin-right: auto;">
    Made with <i class="fa fa-heartbeat" aria-hidden="true"></i> by <a style="cursor: pointer; color: white" (click)="jagmeister()">Jagmeister</a> .
</div>

</mat-card>
