.childrenWidth100 > * {
    width: 100%;
}
.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
} 

@media only screen and (max-width: 600px) {
    .mat-card {
        margin: 10px;
        height: 350px;
    
    }
    .vaccine{
        height: 300px;
    }
    .search{
        height: fit-content
    }
    
  }
  
  @media only screen and (min-width: 600px) {
    .mat-card {
        margin: 10px;
        height: 800px
    
    }
    .vaccine{
        height: 740px;
    }
    .search{
        height: fit-content
    }
  }
  


